:root {
    --background: #B0A695;
    --text: #000000;
    --main: #F3EEEA;
    --secondary: #776B5D;
    --stroke: #B0A695;

}

body{
    background-color: var(--background);
    margin: 0%;
    font-family:'Poppins',sans-serif;

}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-svg {
    width: 100%;
}
.header-logo {
    max-width: 100px;
    border: 2px solid var(--secondary);
    border-radius: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px 15px 5px rgb(red, green, blue);
     
}
img {
    border-radius: 50px;
    width: 100px;
}
.header-text {
    text-align: center;
    margin-top: 20px;
    color: var(--text);
}
h2 {
    font-size: 30px;
    font-weight: 900px;
    text-shadow: 2px ;
    text-transform: under;
}
p {
    font-size: 2rem;
    font-weight: bold;

}
.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}
a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 15px 20px;
    width: 80%;
    max-width: 400px;
    border: 1px solid var(--secondary);
    background-color: var(--main);
    box-shadow: 1px 5px 10px pd rgba(red, green, blue, alpha);
    border-radius: 45px;
    color: var(--secondary);
    text-decoration: none;
    transition: transform o.3 ease, box-shadow 0.3s ease;
    font-weight: 600;

}
a:hover {
    transform: translateY(5px);
    box-shadow: 1px 1px 15px 1px;
    opacity: 0.8;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    width: 100%;
    margin-top: 2%;

}
span {
    font-weight: 600;
}
.footer-svg {
    width: 100%;
}
.footer-svg svg{
    margin-bottom: -5px;
}